---
services:
  springdb:
    image: postgres:latest
    restart: "no"
    hostname: springdb
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=
      - POSTGRES_DB=spring
      - POSTGRES_HOST_AUTH_METHOD=trust
      - TZ=Europe/Rome
    ports:
      - "5432:5432"  # serve database
    networks:
      - spring-lessons

  jaeger:
    image: jaegertracing/jaeger:latest
    restart: "no"
    hostname: jaeger
    environment:
      - LOG_LEVEL=debug
      - TZ=Europe/Rome
    ports:
      - "6831"   # accept jaeger.thrift over Thrift-compact protocol
      - "6832"   # accept jaeger.thrift over Thrift-binary protocol
      - "5778"   # serve configs (sampling, etc.) over HTTP
      - "5779"   # serve configs (sampling, etc.) over gRPC
      - "16686:16686"  # serve frontend
      - "4317"   # accept OpenTelemetry Protocol (OTLP) over gRPC
      - "4318"   # accept OpenTelemetry Protocol (OTLP) over HTTP
      - "9411"   # Zipkin compatible endpoint (optional)
    networks:
      - spring-lessons

  loki:
    image: grafana/loki:main
    restart: "no"
    hostname: loki
    environment:
      - TZ=Europe/Rome
    command:
      - -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml
    ports:
      - "3100"  # serve http server
      - "9096"  # serve grpc server
    networks:
      - spring-lessons

  prometheus:
    image: prom/prometheus:main
    restart: "no"
    hostname: prometheus
    environment:
      - TZ=Europe/Rome
    command:
      - --config.file=/etc/prometheus/prometheus.yml
    volumes:
      - ./prometheus/prometheus-config.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"  # serve frontend
    networks:
      - spring-lessons
    depends_on:
      otelcol:
        condition: service_started

  grafana:
    image: grafana/grafana:main
    restart: "no"
    hostname: grafana
    environment:
      - TZ=Europe/Rome
    volumes:
      - ./grafana/grafana.ini:/etc/grafana/grafana.ini
      - ./grafana/provisioning/:/etc/grafana/provisioning/
    ports:
      - "3000:3000"  # serve frontend
    networks:
      - spring-lessons
    depends_on:
      prometheus:
        condition: service_started
      jaeger:
        condition: service_started
      loki:
        condition: service_started
      springdb:
        condition: service_started

  otelcol:
    image: otel/opentelemetry-collector-contrib:latest
    restart: "no"
    hostname: otelcol
    environment:
      - TZ=Europe/Rome
    command:
      - --config=/etc/otelcol-config.yml
    volumes:
      - ./otel/otelcol-config.yml:/etc/otelcol-config.yml
    ports:
      - "8888"  # Prometheus metrics exposed by the Collector
      - "8889"  # Prometheus exporter metrics
      - "13133"  # health_check extension
      - "4317:4317"  # OTLP gRPC receiver
      - "4318:4318"  # OTLP http receiver
      - "55679"  # zpages extension
      - "1777"  # pprof extension
    depends_on:
      jaeger:
        condition: service_started
    networks:
      - spring-lessons

  kafka:
    image: bitnami/kafka:latest
    restart: "no"
    hostname: kafka
    environment:
      - TZ=Europe/Rome
      - KAFKA_CFG_NODE_ID=0
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092,PLAINTEXT_HOST://:29092,CONTROLLER://:9093
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      - KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_CFG_PROCESS_ROLES=controller,broker
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
    ports:
      - "9092:9092"  # serve broker internally
      - "29092:29092"  # serve broker externally
    networks:
      - spring-lessons

  keycloak:
    image: quay.io/keycloak/keycloak:latest
    restart: "no"
    hostname: keycloak
    environment:
      - TZ=Europe/Rome
      - KC_BOOTSTRAP_ADMIN_USERNAME=kcuser  # Temporary real is "admin"
      - KC_BOOTSTRAP_ADMIN_PASSWORD=kcpwd  # Temporary real is "admin"
      - JAVA_OPTS_KC_HEAP=-XX:MaxRAMPercentage=70 -XX:MinRAMPercentage=70 -XX:InitialRAMPercentage=50
    command:
      - start-dev
    volumes:
      - ./keycloak:/opt/keycloak/data
    ports:
      - "8080:8080"  # serve web server
    networks:
      - spring-lessons

  wiremock:
    build:
      context: .
      dockerfile: wiremock/Containerfile
    image: custom-wiremock:latest
    restart: "no"
    hostname: wiremock
    environment:
      - TZ=Europe/Rome
    entrypoint:
      - "/docker-entrypoint.sh"
      - --global-response-templating
      - --verbose
      - "--extensions"
      - "org.wiremock.RandomExtension"
    volumes:
      - ./wiremock/__files:/home/wiremock/__files
      - ./wiremock/mappings:/home/wiremock/mappings
    ports:
      - "9998:8080"  # serve web server http
      - "9999:8443"  # serve web server https
    networks:
      - spring-lessons

  mailpit:
    image: axllent/mailpit
    restart: "no"
    hostname: mailpit
    environment:
      - TZ=Europe/Rome
      - MP_MAX_MESSAGES=5000
      - MP_DATABASE=/data/mailpit.db
      - MP_SMTP_AUTH_ACCEPT_ANY=1
      - MP_SMTP_AUTH_ALLOW_INSECURE=1
    volumes:
      - ./mailpit/data:/data
    ports:
      - "8025:8025"  # serve web ui
      - "1025:1025"  # serve smtp server
    networks:
      - spring-lessons

networks:
  spring-lessons:
    driver: bridge
