---
apiVersion: 1
datasources:
 - name: Postgres
   type: postgres
   uid: postgres_uid
   url: springdb:5432
   user: grafanareader
   editable: false
   isDefault: false
   access: proxy
   secureJsonData:
    password: ''
   jsonData:
    database: spring
    sslmode: 'disable'
    maxOpenConns: 100
    maxIdleConns: 100
    maxIdleConnsAuto: true
    connMaxLifetime: 14400
    timescaledb: false
